In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
df = pd.read_parquet('https://storage.yandexcloud.net/data-ice-lake-04/messager-data/analytics/tmp/friend_recommendation_datamart/date%3D2023-05-19/part-00000-e9e4a92d-3a28-460f-89f9-14550b548b58-c000.snappy.parquet')

In [4]:
df.shape

(18525, 6)

In [9]:
df.home_city.value_counts(dropna=False)

home_city
None           18391
Melbourne         13
Bendigo           11
Rockhampton       11
Townsville         9
Cranbourne         9
Maitland           9
Brisbane           9
Sydney             7
Newcastle          7
Cairns             7
Gold Coast         6
Canberra           6
Mackay             5
Adelaide           5
Hobart             4
Wollongong         4
Launceston         3
Ballarat           3
Darwin             3
Perth              2
Bunbury            1
Name: count, dtype: int64

In [8]:
df.duplicated(subset='user_id', keep=False).sum()

0