In [6]:
import pytz
import pandas as pd

In [11]:
pytz.timezone('Australia/Brisbane') # gold cost

In [7]:
df = pd.read_parquet('https://storage.yandexcloud.net/data-ice-lake-05/messager-data/analytics/cities-coordinates/part-00000-bfff59c0-139e-4445-aba2-0466904f8d01-c000.snappy.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=YCAJEnnP3avd7Jzp430xyzGee%2F20230524%2Fru-central1%2Fs3%2Faws4_request&X-Amz-Date=20230524T053046Z&X-Amz-Expires=3600&X-Amz-Signature=56EFDDC6F583DAF942B5688E83500733E3AF69FE4307EE0E524B957C56721F06&X-Amz-SignedHeaders=host')

In [10]:
for i in df.city_name.unique(): print(i)

Sydney
Melbourne
Brisbane
Perth
Adelaide
Gold Coast
Cranbourne
Canberra
Newcastle
Wollongong
Geelong
Hobart
Townsville
Ipswich
Cairns
Toowoomba
Darwin
Ballarat
Bendigo
Launceston
Mackay
Rockhampton
Maitland
Bunbury

In [12]:
df.head()

   city_id  city_name   city_lat    city_lon
0        1     Sydney -33.865002  151.209396
1        2  Melbourne -37.813599  144.963104
2        3   Brisbane -27.467800  153.028107
3        4      Perth -31.952200  115.858902
4        5   Adelaide -34.928902  138.601105

In [58]:
df['timezone'] = 'Australia/' + df['city_name']

df.loc[df['city_name'] == 'Gold Coast', 'timezone'] = 'Australia/Brisbane' 
df.loc[df['city_name'] == 'Cranbourne', 'timezone'] = 'Australia/Melbourne' 
df.loc[df['city_name'] == 'Newcastle', 'timezone'] = 'Australia/Sydney' 
df.loc[df['city_name'] == 'Wollongong', 'timezone'] = 'Australia/Sydney'
df.loc[df['city_name'] == 'Geelong', 'timezone'] = 'Australia/Melbourne'
df.loc[df['city_name'] == 'Townsville', 'timezone'] = 'Australia/Brisbane'


df.loc[df['city_name'] == 'Ipswich', 'timezone'] = 'Australia/Brisbane'
df.loc[df['city_name'] == 'Cairns', 'timezone'] = 'Australia/Brisbane'
df.loc[df['city_name'] == 'Toowoomba', 'timezone'] = 'Australia/Brisbane'
df.loc[df['city_name'] == 'Ballarat', 'timezone'] = 'Australia/Melbourne'


df.loc[df['city_name'] == 'Bendigo', 'timezone'] = 'Australia/Melbourne'
df.loc[df['city_name'] == 'Launceston', 'timezone'] = 'Australia/Hobart'

df.loc[df['city_name'] == 'Mackay', 'timezone'] = 'Australia/Brisbane'
df.loc[df['city_name'] == 'Rockhampton', 'timezone'] = 'Australia/Brisbane'

df.loc[df['city_name'] == 'Maitland', 'timezone'] = 'Australia/Sydney'
df.loc[df['city_name'] == 'Bunbury', 'timezone'] = 'Australia/Perth'

In [59]:
df['tz'] = df['timezone'].apply(lambda x: pytz.timezone(x))

In [61]:
df = df.drop(columns='tz')

In [62]:
df.head()

   city_id  city_name   city_lat    city_lon             timezone
0        1     Sydney -33.865002  151.209396     Australia/Sydney
1        2  Melbourne -37.813599  144.963104  Australia/Melbourne
2        3   Brisbane -27.467800  153.028107   Australia/Brisbane
3        4      Perth -31.952200  115.858902      Australia/Perth
4        5   Adelaide -34.928902  138.601105   Australia/Adelaide

In [64]:
import boto3
import os
from dotenv import load_dotenv

load_dotenv()

True

In [65]:
s3 = boto3.session.Session().client(
    service_name="s3",
    endpoint_url=os.getenv("AWS_ENDPOINT_URL"),
    aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY"),
)

In [66]:
df.head()

   city_id  city_name   city_lat    city_lon             timezone
0        1     Sydney -33.865002  151.209396     Australia/Sydney
1        2  Melbourne -37.813599  144.963104  Australia/Melbourne
2        3   Brisbane -27.467800  153.028107   Australia/Brisbane
3        4      Perth -31.952200  115.858902      Australia/Perth
4        5   Adelaide -34.928902  138.601105   Australia/Adelaide

In [67]:
df.to_parquet('part-00000-bfff59c0-139e-4445-aba2-0466904f8d01-c000.snappy.parquet',compression='snappy')

In [69]:
s3.upload_file(
    Filename='part-00000-bfff59c0-139e-4445-aba2-0466904f8d01-c000.snappy.parquet', 
    Bucket='data-ice-lake-05',
    Key='messager-data/analytics/cities-coordinates/part-00000-bfff59c0-139e-4445-aba2-0466904f8d01-c000.snappy.parquet' # file name on s3
)

In [70]:
df = pd.read_parquet("https://storage.yandexcloud.net/data-ice-lake-05/messager-data/analytics/cities-coordinates/part-00000-bfff59c0-139e-4445-aba2-0466904f8d01-c000.snappy.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=YCAJEnnP3avd7Jzp430xyzGee%2F20230524%2Fru-central1%2Fs3%2Faws4_request&X-Amz-Date=20230524T062337Z&X-Amz-Expires=3600&X-Amz-Signature=415BCB097CFDE2708C18E802394C1ACCF23D37BCEC602D1740ECFA696D6BAD71&X-Amz-SignedHeaders=host")

In [71]:
df.head(100)

    city_id    city_name   city_lat    city_lon             timezone
0         1       Sydney -33.865002  151.209396     Australia/Sydney
1         2    Melbourne -37.813599  144.963104  Australia/Melbourne
2         3     Brisbane -27.467800  153.028107   Australia/Brisbane
3         4        Perth -31.952200  115.858902      Australia/Perth
4         5     Adelaide -34.928902  138.601105   Australia/Adelaide
5         6   Gold Coast -28.016701  153.399994   Australia/Brisbane
6         7   Cranbourne -38.099602  145.283401  Australia/Melbourne
7         8     Canberra -35.293098  149.126907   Australia/Canberra
8         9    Newcastle -32.916698  151.750000     Australia/Sydney
9        10   Wollongong -34.433102  150.883102     Australia/Sydney
10       11      Geelong -38.150002  144.350006  Australia/Melbourne
11       12       Hobart -42.880600  147.324997     Australia/Hobart
12       13   Townsville -19.256399  146.818298   Australia/Brisbane
13       14      Ipswich -27.616699  152.766693   Australia/Brisbane
14       15       Cairns -16.930300  145.770294   Australia/Brisbane
15       16    Toowoomba -27.566700  151.949997   Australia/Brisbane
16       17       Darwin -12.438100  130.841095     Australia/Darwin
17       18     Ballarat -37.549999  143.850006  Australia/Melbourne
18       19      Bendigo -36.750000  144.266693  Australia/Melbourne
19       20   Launceston -41.441898  147.145004     Australia/Hobart
20       21       Mackay -21.141100  149.186096   Australia/Brisbane
21       22  Rockhampton -23.375000  150.511703   Australia/Brisbane
22       23     Maitland -32.716702  151.550003     Australia/Sydney
23       24      Bunbury -33.333302  115.633301      Australia/Perth