In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('https://storage.yandexcloud.net/data-ice-lake-04/messager-data/tmp/real-contacts/part-00000-e5b3608b-b518-4e10-837b-d373693cb620-c000.snappy.parquet')

In [3]:
df.shape

(71096, 2)

In [4]:
df.head()

   user_id  contact_id
0    22287      149488
1    81884      107993
2   106852       77160
3   149488       42751
4   149488      138441

In [10]:
df[(df['user_id']==106852) | (df['contact_id']==106852)].head(100)

       user_id  contact_id
2       106852       77160
3962    106852       95941
6818     95941      106852
8895    150213      106852
16280    14165      106852
19058   106852       11224
20010   106852       10969
20554   149488      106852
23940     4447      106852
25148   106852      150213
27041   100593      106852
30583   104205      106852
30602    10969      106852
34217   106852       93503
35377    77160      106852
35870   106852       89869
37482   106852      149488
39929   106852       29910
40213   106852        4447
44451   106852       14165
45385   106852      112473
47913   106852      100593
48669    89869      106852
50419   106852      104205
52659    29910      106852
58088    11224      106852
62694   112473      106852
70382    93503      106852

In [26]:
llist = ['age', 'name','id']

In [27]:
if not all(i in llist for i in ('age', 'name', 'id')):
    raise Exception('⛔️')

In [ ]:
coord_cols_prefix = ['event', 'city']


if not all(col in sdf.columns for col in ('1st_point_lat', '1st_point_lon', 'id')):
    raise Exception

In [30]:
coord_cols_prefix = ['event', 'city']

In [78]:
cols = [(i + '_lat', i+'_lon') for i in coord_cols_prefix]

In [85]:
cols[

(('event_lat', 'event_lon'), ('city_lat', 'city_lon'))

In [76]:
lat_1st, lon_1st = cols[0]
lat_2nd, lon_2nd = cols[1]

In [77]:
lon_2nd

'city_lon'

In [71]:
some_list = ['event_lat', 'event_lon', 'city_lat', 'city_lon']

In [83]:
if not all(col in some_list for col in (cols[0], cols[1])):
    raise Exception('!')

Exception: !

'city_lat'

In [55]:
one

'event_lat'

In [56]:
two

'event_lon'