In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('https://storage.yandexcloud.net/data-ice-lake-04/messager-data/analytics/tmp/location_zone_agg_datamart/date%3D2023-05-15/part-00000-93307382-65df-44f6-86a3-d4b91a5b5b39-c000.snappy.parquet')

In [4]:
df.shape

(48, 11)

In [6]:
df.head(100)

,zone_id,week,month,week_message,week_reaction,week_subscription,week_user,month_message,month_reaction,month_subscription,month_user
0,1,9,3,1344,663,4440,538,2601,1806,11980,948
1,1,10,3,1257,1143,7540,410,2601,1806,11980,948
2,2,9,3,2175,760,6897,872,4422,1953,18718,1540
3,2,10,3,2247,1193,11821,668,4422,1953,18718,1540
4,3,9,3,3005,667,9471,1204,6182,1893,25779,2046
5,3,10,3,3177,1226,16308,842,6182,1893,25779,2046
6,4,9,3,1139,238,4981,589,2259,661,13322,1019
7,4,10,3,1120,423,8341,430,2259,661,13322,1019
8,5,9,3,1156,195,3592,464,2254,538,9653,774
9,5,10,3,1098,343,6061,310,2254,538,9653,774
10,6,9,3,950,151,2511,309,1767,431,6805,524
11,6,10,3,817,280,4294,215,1767,431,6805,524
12,7,9,3,843,298,2910,380,1696,891,7922,666
13,7,10,3,853,593,5012,286,1696,891,7922,666
14,8,9,3,930,200,2909,386,1752,486,7779,642
15,8,10,3,822,286,4870,256,1752,486,7779,642
16,9,9,3,2158,483,4789,624,4180,1366,12873,1051
17,9,10,3,2022,883,8084,427,4180,1366,12873,1051
18,10,9,3,307,118,1284,157,627,327,3457,241
19,10,10,3,320,209,2173,84,627,327,3457,241
20,11,9,3,184,113,402,49,325,283,1098,84
21,11,10,3,141,170,696,35,325,283,1098,84
22,12,9,3,696,203,2758,346,1437,545,7363,598
23,12,10,3,741,342,4605,252,1437,545,7363,598
24,13,9,3,942,147,3680,458,1997,422,9668,783
25,13,10,3,1055,275,5988,325,1997,422,9668,783
26,14,9,3,168,127,800,93,350,392,2123,167
27,14,10,3,182,265,1323,74,350,392,2123,167
28,15,9,3,903,180,3474,446,1875,496,9584,787
29,15,10,3,972,316,6110,341,1875,496,9584,787
30,16,9,3,414,139,1528,202,892,356,4161,326
31,16,10,3,478,217,2633,124,892,356,4161,326
32,17,9,3,1077,157,3647,452,2542,475,9765,774
33,17,10,3,1465,318,6118,322,2542,475,9765,774
34,18,9,3,325,135,1063,132,705,399,2879,249
35,18,10,3,380,264,1816,117,705,399,2879,249
36,19,9,3,2064,690,6374,857,3909,1890,17822,1456
37,19,10,3,1845,1200,11448,599,3909,1890,17822,1456
38,20,9,3,1732,213,4433,533,3258,636,11961,922
39,20,10,3,1526,423,7528,389,3258,636,11961,922
40,21,9,3,872,172,3592,418,1867,479,9739,771
41,21,10,3,995,307,6147,353,1867,479,9739,771
42,22,9,3,1080,190,3607,418,2146,476,9819,755
43,22,10,3,1066,286,6212,337,2146,476,9819,755
44,23,9,3,1637,229,4713,619,3117,666,12743,1016
45,23,10,3,1480,437,8030,397,3117,666,12743,1016
46,24,9,3,804,166,2366,286,1544,494,6359,497
47,24,10,3,740,328,3993,211,1544,494,6359,497

In [10]:
df[(df['user_id']==106852) | (df['contact_id']==106852)].head(100)

       user_id  contact_id
2       106852       77160
3962    106852       95941
6818     95941      106852
8895    150213      106852
16280    14165      106852
19058   106852       11224
20010   106852       10969
20554   149488      106852
23940     4447      106852
25148   106852      150213
27041   100593      106852
30583   104205      106852
30602    10969      106852
34217   106852       93503
35377    77160      106852
35870   106852       89869
37482   106852      149488
39929   106852       29910
40213   106852        4447
44451   106852       14165
45385   106852      112473
47913   106852      100593
48669    89869      106852
50419   106852      104205
52659    29910      106852
58088    11224      106852
62694   112473      106852
70382    93503      106852

In [26]:
llist = ['age', 'name','id']

In [27]:
if not all(i in llist for i in ('age', 'name', 'id')):
    raise Exception('⛔️')

In [ ]:
coord_cols_prefix = ['event', 'city']


if not all(col in sdf.columns for col in ('1st_point_lat', '1st_point_lon', 'id')):
    raise Exception

In [30]:
coord_cols_prefix = ['event', 'city']

In [78]:
cols = [(i + '_lat', i+'_lon') for i in coord_cols_prefix]

In [85]:
cols[

(('event_lat', 'event_lon'), ('city_lat', 'city_lon'))

In [76]:
lat_1st, lon_1st = cols[0]
lat_2nd, lon_2nd = cols[1]

In [77]:
lon_2nd

'city_lon'

In [71]:
some_list = ['event_lat', 'event_lon', 'city_lat', 'city_lon']

In [83]:
if not all(col in some_list for col in (cols[0], cols[1])):
    raise Exception('!')

Exception: !

'city_lat'

In [55]:
one

'event_lat'

In [56]:
two

'event_lon'